body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: goldenrod;
}
.clock {
    height: 400px;
    width: 400px;
    border: 10px solid gray;
    border-radius: 50%;
    transform: translateY(-3px);
}
.hand {
      width: 205px;
      height: 5px;
      background: black;
      position: absolute;
      top: 50%;
      transform: rotate(90deg);
      transform-origin: 100%;
      transition: all 0.05s;
}